@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>
    <p><a href="https://docs.google.com/document/d/1k7Z3qMoMhEir8p_-Mgq_fqzesyoSnZxmN2S1QUoF3mc/edit">Sana09</a></p>
</div>
